html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #222;
}

a {
	color: #08C;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

.lead {
	font-size: 32px;
	font-weight: 300;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.fig {
	display: block;
	border: 2px solid #c3c3c3;
	background: #eeeeee;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 1px 8px rgba(0,0,0,0.2);
	margin-bottom: 1em;
}

.fig img {

}

.note {
	margin: 0;
	display: block;
	background: #fdf9c6;
	border-bottom: 1px solid #cecbaa;
	padding: 10px 20px;
	text-align: center;
}

h2 {
	font-weight: 400;
}

div.spacer {
	width: 6px;
	height: 10px;
}

div.panel {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #c3c3c3;

	padding: 4px;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	background: #ffffff;
}

#titlebarContainer{
	position: relative;
	z-index: 20;
	background: #EEE;
}
#titlebar{
	padding-left: 1.2em;
}

#titlebar h3 {
	margin: 0;
	padding: 0;
	line-height: 36px;
	font-size: 15px;
	font-weight: 300;
	color: #888;
}

#exampleOutput {
	position: absolute;
	padding: 1em;
	border-right: 0 none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background-color: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	font-size: 13px;
}

#exampleOutput span {
	margin: -1px;
	border: 1px solid rgba(255,255,255,0);
	-webkit-transition: background 150ms ease-out, border 150ms ease-out, box-shadow 150ms ease-out;
	border-radius: 3px;
}

#exampleOutput h3 {
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}

#formattedCitations {
	margin-bottom: 2em;
	padding-left: 10px;
}

#formattedFurtherCitations {
	margin-bottom: 2em;
	padding-left: 10px;
}

#formattedBibliography {
	margin-bottom: 2em;
	padding-left: 10px;
}

/* citeproc formatting */
.csl-left-margin {
	float: left;
}
.csl-right-inline {
	margin-left: 35px;
}
.inline-csl-entry,
.bibliography-csl-entry {
	display: inline-block;
	margin: 0px;
	line-height: 1.4em;
	width: -moz-available;
	padding-left: 0;
	text-indent: 0;
}

.csl-entry-container {
	margin-bottom: 5px;
}

#statusMessage {
	color: #cc1111;
}

.toolbar {
	position: relative;
	display: inline-block;
	z-index: 3;
	padding: 2px;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 3px;
	background: #e9eaec;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}

.has-arrow {
	box-shadow: 0 0px 8px rgba(0,0,0,0.4);
}

.has-arrow:after, .has-arrow:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.has-arrow:after {
	border-color: rgba(247, 247, 247, 0);
	border-bottom-color: #f7f7f7;
	border-width: 5px;
	left: 11px;
	margin-left: -5px;
}
.has-arrow:before {
	border-color: rgba(165, 165, 165, 0);
	border-bottom-color: rgba(0,0,0,0.4);
	border-width: 6px;
	left: 11px;
	margin-left: -6px;
}

.toolbar a {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	padding-left: 3px;
	padding-right: 3px;
	min-width: 17px;
	text-align: center;
	color: #333;
	text-decoration: none;
	border-right: 1px solid #d4d5d7;
}

.toolbar a:hover {
	color: #007ae2;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

.toolbar a sup,
.toolbar a sub {
	vertical-align: baseline;
	position: relative;
}
.toolbar a sup {
	top: -0.45em;
}
.toolbar a sub {
   top: 0.15em;
}

.toolbar a.selected {
	color: #fff;
	background: #0099e2;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	text-shadow: none;
}

.toolbar a:last-child {
	border-right: 0;
}

.richTextContainer {
	position: relative;
}

.help {
	color: #999;
	font-size: 11px;
	padding: 3px 12px;
}

.footer {
	clear: both;
	padding: 20px 20px;
	background: #EEE;
	border-top: 1px solid #C3C3C3;
	color: #666;
}

/* JQuery UI workaround */
.ui-front { z-index: 1001 !important; }
.ui-dialog { z-index: 1002 !important; }

.ui-accordion .ui-accordion-header {
	margin-bottom: 0px;
	margin-top: 10px;
}