
html, body {
    overflow: hidden;
    position: relative;
    font: 12px Helvetica, Sans-Serif;
}
#notificationBar {
    position: absolute;
    display: none;
    background-color: #FFFF88;
    z-index: 40;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#notificationBar .message {
    margin: 6px;
}
#notificationBar .dismiss {
    margin: 6px;
}
#mainContainer {
    position: absolute;

    top: 35px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    min-width: 500px;	/* Splitter can't be too thin ... */
    min-height: 300px;	/* ... or too flat */
    clear: both;

    background: #eeeeee;
}
.searched {
    background: yellow;
}

ul.example-citations {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
}

#TopContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 3 !important;
}

#titlebarContainer{
    text-align: center;
}

#TopLeftContainer {
    left: 0;
    top: 0;
    float: left;
}

#TopRightContainer {
    right: 0;
    top: 0;
    float: right;
}

#SecondTopContainer{
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height:30%;
}

#BottomContainer{
    margin-top: 35px;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height:70%;
    z-index: 3 !important;
    overflow-y: auto;
}


.OptionContentContainer{
    clear: both;
}

.banner-message {
    position: relative;
}

.OptionContentRight{
    float: right;
    width: 50%;
    /*background: red;*/
}

.OptionContentLeft{
    float: left;
    width: 50%;
    /*background: blue;*/

}

.OptionsFieldset{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 13px;
    border: 2px;
    border-style: solid;
    border-color: #c3c3c3;
    padding: 1px;
    background: #FFFFFF;
    margin-inside: 15px;
}

.OptionsFieldset legend {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6d8fa2;
}

.AttributesDND, .DelimitersDND, .FreeTextsDND {
    width: 100%;
    min-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    float: left;
    margin-right: 10px;
}
.AttributesDND li, .DelimitersDND li, .FreeTextsDND li {
    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
    float: left;
    text-align: center;
    height: 15px;
}

input.DelimiterContent, input.FreeTextContent{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    transition: width 0.2s;
    width: 10ch;
    min-width: 0;
    max-width: 10ch;
}


.AttributesDNDTarget {
    padding: 5px 0 5px 5px;
    width: calc(100% - 35px) !important;
    margin-right: 0 !important;
}

.ui-sortable-placeholder {
    height: 15px;
    width: 30px;
    background: #ccc;
}

.copyFromFirst, .emptyField{
    margin: 5px 5px 5px 0;
    float: right;
    width: 25px;
    font-size: 25px;
}

.copyFromFirst i, .emptyField i{
    color: #c3c3c3;
}

.copyFromFirst i:hover, .emptyField i:hover{
    color: #000000;
}

.copyFromFirst i:active, .emptyField i:active{
    color: #ec8e0c;
}

.AttributeContent, .FreeTextContent, .DelimiterContent {
    font-weight: normal;
    color: #222222;
}

ul.dropdown {
    margin: 0;
    padding: 0;
    z-index: 30 !important;
}

