<div id="notificationBar"><span class="message"></span>
    <button class="dismiss">Dismiss</button>
</div>

<div id="TopContainer">
    <div id="TopLeftContainer">
        <div class="dropdown-container">
            <ul class="dropdown" id="visualEditorMenu">
                <li>
                    <a id="styleMenu">Style <span class="disclosure">&#9662;</span></a>
                    <ul class="sub_menu" id="styleMenuUl">
                        <!-- Use CSLEDIT_options populate this menu. -->
                    </ul>
                </li>
                <li>
                    <a id="menuUndo">Undo</a>
                </li>
                <li>
                    <a id="menuRedo">Redo</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="titlebarContainer">
        <div id="titlebar">
            <h3></h3>
        </div>
    </div>
    <div id="TopRightContainer">
        <ul class="example-citations dropdown">
            <li>
                <a id="example-citations">Example citations <span class="disclosure">&#9662;</span></a>
                <ul class="sub_menu">
                    <li><a id="menuEditCitation1">Citation 1</a></li>
                    <li><a id="menuEditCitation2">Citation 2</a></li>
                    <li><a id="menuEditCitation3">Citation 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="mainContainer">
    <div id="SecondTopContainer" class="ui-layout-north">
        <div class="panel">
            <div id="exampleOutput" class="panel">
                <div id="statusMessage"></div>

                <h3>Erstes Autreten (Fußnote)</h3>
                <div id="formattedCitations"></div>

                <h3>Weitere Auftreten (Fußnote)</h3>
                <div id="formattedFurtherCitations"></div>

                <h3>Literaturverzeichnis</h3>
                <div id="formattedBibliography"></div>
            </div>
        </div>
    </div>
    <div id="BottomContainer" class="ui-layout-center">
        <div id="OptionContent" class="panel">
        </div>
    </div>
</div>