<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Developer Documentation for the CSL Law Editor Source: LawViewController.js</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.default.css">

	<link type="text/css" rel="stylesheet" href="styles/site.flatly.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">Developer Documentation for the CSL Law Editor</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavigation">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
        </button>
	</div>
	<div class="navbar-collapse collapse" id="topNavigation">
		<ul class="nav navbar-nav">
			
			<li class="dropdown">
				<a href="modules.list.html" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
				<ul class="dropdown-menu ">
					<li><a href="module-CSLEDIT_AttributesToolbar.html">CSLEDIT_AttributesToolbar</a></li><li><a href="module-CSLEDIT_citationEngine.html">CSLEDIT_citationEngine</a></li><li><a href="module-CSLEDIT_controller.html">CSLEDIT_controller</a></li><li><a href="module-CSLEDIT_CslNode.html">CSLEDIT_CslNode</a></li><li><a href="module-CSLEDIT_data.html">CSLEDIT_data</a></li><li><a href="module-CSLEDIT_dndFunctionality.html">CSLEDIT_dndFunctionality</a></li><li><a href="module-CSLEDIT_dummyData.html">CSLEDIT_dummyData</a></li><li><a href="module-CSLEDIT_exampleCitations.html">CSLEDIT_exampleCitations</a></li><li><a href="module-CSLEDIT_exampleData.html">CSLEDIT_exampleData</a></li><li><a href="module-CSLEDIT_initData.html">CSLEDIT_initData</a></li><li><a href="module-CSLEDIT_LawEditor.html">CSLEDIT_LawEditor</a></li><li><a href="module-CSLEDIT_LawViewController.html">CSLEDIT_LawViewController</a></li><li><a href="module-CSLEDIT_notificationBar.html">CSLEDIT_notificationBar</a></li><li><a href="module-CSLEDIT_preProcessor.html">CSLEDIT_preProcessor</a></li><li><a href="module-CSLEDIT_richTextToolbar.html">CSLEDIT_richTextToolbar</a></li><li><a href="module-CSLEDIT_sourceSections.html">CSLEDIT_sourceSections</a></li><li><a href="module-CSLEDIT_styleFormatting.html">CSLEDIT_styleFormatting</a></li><li><a href="module-CSLEDIT_ViewController.html">CSLEDIT_ViewController</a></li>
				</ul>
			</li>
			
		</ul>
        
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        
	</div>

</div>
</div>


<div class="container" id="toc-content">
<div class="row">

	
	<div class="col-md-12">
	
		<div id="main">
			

		<h1 class="page-title">Source: LawViewController.js</h1>
    
<section>
    <article>
        <pre
            class="sunlight-highlight-javascript linenums">"use strict";

/**
 * @module CSLEDIT_LawViewController
 * @author Matthias Cosler
 *
 */
define(
    [	'src/Titlebar',
        'src/notificationBar',
        'src/CslNode',
        'src/Iterator',
        'src/dataInstance',
        'src/debug'
    ],
    function (
        CSLEDIT_Titlebar,
        CSLEDIT_notificationBar,
        CSLEDIT_CslNode,
        CSLEDIT_Iterator,
        CSLEDIT_data,
        debug
    ) {
        /**
         * Creates a ViewController responsible for adding and maintaining the content in all the given jQuery elements
         *
         * An CSLEDIT_ViewController instance ensures that all the views are notified whenever one of the following functions is called:
         *  - addNode
         *  - deleteNode
         *  - amendNode
         *  - newStyle
         *
         * @class
         * @alias module:CSLEDIT_LawViewController
         * @see module:CSLEDIT_Titlebar
         * @see module:CSLEDIT_notificationBar
         * @see module:CSLEDIT_CslNode
         * @see module:CSLEDIT_Iterator
         * @see module:CSLEDIT_data
         *
         *
         * @param titlebarElement
         * @returns {{init: init, addNode: addNode, deleteNode: deleteNode, updateFinished: updateFinished, styleChanged: styleChanged, newStyle: newStyle, amendNode: amendNode}}
         * @constructor
         * @author Matthias Cosler
         */
        var CSLEDIT_LawViewController = function (
            titlebarElement) {

            var views = [],
                callbacks,
                recentlyEditedMacro = -1;


            /**
             * Sets up all the views (at this point only titlebar
             * @param cslData
             * @param _callbacks
             * @alias module:CSLEDIT_LawViewController.init
             * @author Matthias Cosler
             * @public
             */
            var init = function (cslData, _callbacks) {

                views = [];

                views.push(new CSLEDIT_Titlebar(titlebarElement));

                callbacks = _callbacks;

                callbacks.formatCitations();
            };

            /**
             * Checks if a macro with multple occurences is edited and show notification
             *
             * @param id
             * @alias module:CSLEDIT_LawViewController.macroEditNotification
             * @private
             */
            var macroEditNotification = function (id) {
                var nodeStack = CSLEDIT_data.getNodeStack(id),
                    node,
                    iter,
                    next,
                    macroName,
                    timesUsed;

                while (nodeStack.length > 0) {
                    node = nodeStack.pop();
                    if (node.name === "macro" &amp;&amp; recentlyEditedMacro !== node.cslId) {
                        macroName = new CSLEDIT_CslNode(node).getAttr("name");
                        if (macroName === "") {
                            return;
                        }

                        // check how many places this macro is used
                        iter = new CSLEDIT_Iterator(CSLEDIT_data.get());
                        timesUsed = 0;

                        while (iter.hasNext()) {
                            next = new CSLEDIT_CslNode(iter.next());

                            if (next.name === "text" &amp;&amp; next.getAttr("macro") === macroName) {
                                timesUsed++;

                                if (timesUsed > 1) {
                                    recentlyEditedMacro = node.cslId;
                                    CSLEDIT_notificationBar.showMessage(
                                        'You just edited a macro which is used in multiple places');
                                }
                            }
                        }
                    }
                }
            };

            /**
             * Responds on an addNode event
             *
             * @param id
             * @param position
             * @param newNode
             * @param nodesAdded
             * @alias module:CSLEDIT_LawViewController.addNode
             * @public
             */
            var addNode = function (id, position, newNode, nodesAdded) {
                macroEditNotification(id);
                $.each(views, function (i, view) {
                    if ("addNode" in view) {
                        view.addNode(id, position, newNode, nodesAdded);
                    }
                });
            };

            /**
             * Responds to a deleteNode event
             *
             * @param id
             * @param nodesDeleted
             * @alias module:CSLEDIT_LawViewController.deleteNode
             * @todo not implemented
             * @public
             */
            var deleteNode = function (id, nodesDeleted) {
                //TODO
            };

            /**
             * Responds to an amendNode event
             *
             * @param id
             * @param amendedNode
             * @public
             * @alias module:CSLEDIT_LawViewController.amendNode
             */
            var amendNode = function (id, amendedNode) {
                macroEditNotification(id);
                $.each(views, function (i, view) {
                    if ("amendNode" in view) {
                        view.amendNode(id, amendedNode);
                    }
                });
            };

            /**
             * Is called when the updated is finished
             * @alias module:CSLEDIT_LawViewController.updateFinished
             * @public
             */
            var updateFinished = function () {
                callbacks.formatCitations();
            };

            /**
             * Responds to the newStyle event,
             * Uses the nuclear option and re-builds everything
             * @alias module:CSLEDIT_LawViewController.newStyle
             * @public
             */
            var newStyle = function () {
               init(CSLEDIT_data.get(), callbacks);
               callbacks.formatSections();
            };

            /**
             * Will execute the CSLEDIT_ViewController member function with name 'command' and pass it the given arguments
             *
             * @param command
             * @param args
             * @alias module:CSLEDIT_LawViewController.styleChanged
             * @public
             */
            var styleChanged = function (command, args) {
                args = args || [];
                debug.log("executing view update: " + command + "(" + args.join(", ") + ")");
                this[command].apply(null, args);
            };

            // public:
            return {
                init : init,

                addNode : addNode,
                deleteNode : deleteNode,
                amendNode : amendNode,
                newStyle : newStyle,
                updateFinished : updateFinished,

                styleChanged : styleChanged
            };
        };

        return CSLEDIT_LawViewController;
    });

</pre>
    </article>
</section>





		</div>
	</div>

	<div class="clearfix"></div>

	

</div>
</div>


    <div class="modal fade" id="searchResults">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Search results</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>


<footer>


	<span class="copyright">
	MIT License, see the repository for more.
	</span>

<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.5.5</a>
	
		on Wed Apr 10th 2019
	
	using the <a href="https://github.com/docstrap/docstrap">DocStrap template</a>.
</span>
</footer>

<script src="scripts/docstrap.lib.js"></script>
<script src="scripts/toc.js"></script>

    <script type="text/javascript" src="scripts/fulltext-search-ui.js"></script>


<script>
$( function () {
	$( "[id*='$']" ).each( function () {
		var $this = $( this );

		$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
	} );

	$( ".tutorial-section pre, .readme-section pre, pre.prettyprint.source" ).each( function () {
		var $this = $( this );

		var example = $this.find( "code" );
		exampleText = example.html();
		var lang = /{@lang (.*?)}/.exec( exampleText );
		if ( lang && lang[1] ) {
			exampleText = exampleText.replace( lang[0], "" );
			example.html( exampleText );
			lang = lang[1];
		} else {
			var langClassMatch = example.parent()[0].className.match(/lang\-(\S+)/);
			lang = langClassMatch ? langClassMatch[1] : "javascript";
		}

		if ( lang ) {

			$this
			.addClass( "sunlight-highlight-" + lang )
			.addClass( "linenums" )
			.html( example.html() );

		}
	} );

	Sunlight.highlightAll( {
		lineNumbers : true,
		showMenu : true,
		enableDoclinks : true
	} );

	$.catchAnchorLinks( {
        navbarOffset: 10
	} );
	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			return $( heading ).attr( "id" ) || ( prefix + i );
		},
		selectors   : "#toc-content h1,#toc-content h2,#toc-content h3,#toc-content h4",
		showAndHide : false,
		smoothScrolling: true
	} );

	$( "#main span[id^='toc']" ).addClass( "toc-shim" );
	$( '.dropdown-toggle' ).dropdown();

    $( "table" ).each( function () {
      var $this = $( this );
      $this.addClass('table');
    } );

} );
</script>



<!--Navigation and Symbol Display-->


<!--Google Analytics-->



    <script type="text/javascript">
        $(document).ready(function() {
            SearcherDisplay.init();
        });
    </script>


</body>
</html>
